force-app/main/default/flows/Add_Quote_System_Reference.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Add Quote System Reference {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Quote System Reference</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opp_Record</name>
        <label>Get Opp Record</label>
        <locationX>92</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_System_Reference</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opprecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_Created__c</queriedFields>
        <queriedFields>Quote_System_Reference_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>353</locationX>
        <locationY>129</locationY>
        <connector>
            <targetReference>Saved_Successfully</targetReference>
        </connector>
        <inputReference>opprecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Quote_System_Reference</name>
        <label>Quote System Reference</label>
        <locationX>209</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>QuoteSystemReferenceNumber</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote System Reference Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlength</name>
                <value>
                    <stringValue>15</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>opprecord.Quote_System_Reference_Number__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opprecord.Quote_System_Reference_Number__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>datecreated</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Date Created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>opprecord.Date_Created__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opprecord.Date_Created__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Saved_Successfully</name>
        <label>Saved Successfully</label>
        <locationX>477</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successmessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(244, 245, 247); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Successfully updated the corresponding fields on the Opportunity!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Opp_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>opprecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
