force-app/main/default/flows/ClaimFlowNew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>PicklistFullAddress</name>
        <dataType>String</dataType>
        <displayField>Full_Address__c</displayField>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPolicyID</elementReference>
            </value>
        </filters>
        <object>InsurancePolicyAsset__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>UserNameEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>UserNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &#39; &#39; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>UserNamePhone</name>
        <dataType>Number</dataType>
        <expression>{!$User.Phone}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Whereformula</name>
        <dataType>String</dataType>
        <expression>Policy__c = {!IncomingPolicyID}</expression>
    </formulas>
    <interviewLabel>ClaimFlowNew {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClaimFlowNew</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAsset</name>
        <label>GetAsset</label>
        <locationX>335</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start</targetReference>
        </connector>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPolicyID</elementReference>
            </value>
        </filters>
        <object>InsurancePolicyAsset__c</object>
        <outputReference>AssetRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Full_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPolicyDetails</name>
        <label>GetPolicyDetails</label>
        <locationX>223</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAsset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPolicyID</elementReference>
            </value>
        </filters>
        <object>InsurancePolicy__c</object>
        <outputReference>PolicyRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Policy_Name__c</queriedFields>
        <queriedFields>Policy_Type__c</queriedFields>
        <queriedFields>Is_Active__c</queriedFields>
        <queriedFields>Premium_Amount__c</queriedFields>
        <queriedFields>Premium_Frequency__c</queriedFields>
        <queriedFields>Universal_Policy_Number__c</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Expiration_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Loss_Details</name>
        <label>Loss Details</label>
        <locationX>570</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicator2</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Start,Loss Details,Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Loss Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LossDate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>DD/MM/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loss Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>06/06/2019</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LossType</name>
            <extensionName>c:dynamicPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loss Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LossAmount</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loss Amount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClaimReason</name>
            <extensionName>c:dynamicPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claim Reason</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IsPropertyinhabitable</name>
            <extensionName>c:lightningCheckboxGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is Property inhabitable?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Is Property inhabitable?&quot;, &quot;value&quot;: &quot;True&quot;}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IsRepairDone</name>
            <extensionName>c:lightningCheckboxGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>IsRepairDone?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;&quot;, &quot;value&quot;: &quot;True&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyId</name>
                <value>
                    <stringValue>CGrepair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CheckBoxValue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CheckBoxValue</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RepairCost</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Repair Cost</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>CGrepair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RepairDoneBy</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>CGrepair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Repair Done By - Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RepairDoneByPhone</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Repair Done By - Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>CGrepair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <extensionName>c:dynamicPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>CGrepair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Street</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>CGrepair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>CGrepair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <extensionName>c:dynamicPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>CGrepair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ZipCode</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Zip Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>CGrepair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>459</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loss_Details</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicator1</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Start</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Start,Loss Details,Summary</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PolicyNumber</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policy Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PolicyRecord.Universal_Policy_Number__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PolicyType</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policy Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PolicyRecord.Policy_Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PolicyExpiration</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policy Expiration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PolicyRecord.Expiration_Date__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UserName</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>UserNameFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactNumber</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>UserNamePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>UserNameEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lookup</name>
            <extensionName>c:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>InsurancePolicyAsset__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Full_Address__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Policy__c = &#39;a0o4P00000FVppsQAD&#39;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue/>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>731</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProgressIndicator3</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Start,Loss Details,Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Summary</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SummeryPN</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policy Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PolicyRecord.Universal_Policy_Number__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policy Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>PolicyRecord.Policy_Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Exp</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policy Expiration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>06/06/2019</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Property Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>Test -  shilp 2 ,ahmedabad , india ,382350</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ldate</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loss Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>06/06/2019</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LType</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loss Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>Repair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lnumber</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loss Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CReason</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claim Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>Fire</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IsInhabitable</name>
            <fieldText>&lt;b&gt;Is property inhabitable?&lt;b/&gt;&lt;br/&gt;
True
&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummeryDescription</name>
            <fieldText>&lt;b&gt;Description: &lt;/b&gt;&lt;br/&gt;
Test</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LossTypeDisable</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loss Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>Repair</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RepairCostSumm</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Repair Cost </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>220</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RepairDoneBySumm</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Repair Done By - Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>Dharmik</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RepairPhoneSumm</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Repair Done By - Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>123456789</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetPolicyDetails</startElementReference>
    <status>InvalidDraft</status>
    <variables>
        <name>AssetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyAsset__c</objectType>
    </variables>
    <variables>
        <name>AssetSetcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyAsset__c</objectType>
    </variables>
    <variables>
        <name>CheckBoxValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Claim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>InsuranceClaim__c</objectType>
    </variables>
    <variables>
        <name>IncomingPolicyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyAsset__c</objectType>
    </variables>
    <variables>
        <name>PolicyAssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyAsset__c</objectType>
    </variables>
    <variables>
        <name>PolicyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicy__c</objectType>
    </variables>
    <variables>
        <name>PolicySet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicy__c</objectType>
    </variables>
</Flow>
