force-app/main/default/flows/Claim_Form_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_new_instance</name>
        <label>assign new instance</label>
        <locationX>293</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>accountrecord.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountrecord.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>claimtypedecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_record_null</name>
        <label>check if record null</label>
        <locationX>286</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>claimtypedecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountrecord</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assign_new_instance</targetReference>
            </connector>
            <label>check record</label>
        </rules>
    </decisions>
    <decisions>
        <name>claimtypedecision</name>
        <label>claimtypedecision</label>
        <locationX>646</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>No_Macth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>claim_type_Conveyance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Claimtypevalue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Conveyance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claim_Form_Conveyance</targetReference>
            </connector>
            <label>claim type Conveyance</label>
        </rules>
        <rules>
            <name>Claim_Type_Automatic_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Claimtypevalue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claim_Type_Without_Conveyance_Label</targetReference>
            </connector>
            <label>Claim Type Automatic Assignment</label>
        </rules>
    </decisions>
    <interviewLabel>Claim Form New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Form New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Account</name>
        <label>Fetch Account</label>
        <locationX>170</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claim_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountrecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Claim_Type</name>
        <label>Claim Type</label>
        <locationX>41</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_if_record_null</targetReference>
        </connector>
        <fields>
            <name>claimheader1</name>
            <extensionName>c:claimHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thirdColumnDescription</name>
                <value>
                    <stringValue>OMB Approval No. 2502-0611 (Exp. 4/30/2021)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>claimtype</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claim Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[ {&quot;label&quot;: &quot;01-Conveyance&quot;, &quot;value&quot;: &quot;01-Conveyance&quot;}, {&quot;label&quot;: &quot;02-Assignment&quot;, &quot;value&quot;: &quot;02-Assignment&quot;}, {&quot;label&quot;: &quot;03-Automatic Assignment&quot;, &quot;value&quot;: &quot;03-Automatic Assignment&quot;}, {&quot;label&quot;: &quot;04-Coinsurance&quot;, &quot;value&quot;: &quot;04-Coinsurance&quot;}, {&quot;label&quot;: &quot;05-Supplemental&quot;, &quot;value&quot;: &quot;05-Supplemental&quot;}, {&quot;label&quot;: &quot;06-CWCOT&quot;, &quot;value&quot;: &quot;06-CWCOT&quot;}, {&quot;label&quot;: &quot;07-PFS&quot;, &quot;value&quot;: &quot;07-PFS&quot;}, {&quot;label&quot;: &quot;Other&quot;, &quot;value&quot;: &quot;Other&quot;}, {&quot;label&quot;: &quot;31-Spec. Forb.&quot;, &quot;value&quot;: &quot;31-Spec. Forb.&quot;}, {&quot;label&quot;: &quot;32-Modification&quot;, &quot;value&quot;: &quot;32-Modification&quot;}, {&quot;label&quot;: &quot;33-Partial Claim&quot;, &quot;value&quot;: &quot;33-Partial Claim&quot;} ]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Claimtypevalue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Claimtypevalue</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Macth</name>
        <label>No Macth</label>
        <locationX>653</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nomatchforclaimtype</name>
            <fieldText>No flow found for {!Claimtypevalue}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Fetch_Account</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Claim_Form_Conveyance</name>
        <label>Claim Form Conveyance</label>
        <locationX>1080</locationX>
        <locationY>54</locationY>
        <flowName>Claim_Form_Conveyance</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountrecord</name>
            <value>
                <elementReference>accountrecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ClaimTypeValue</name>
            <value>
                <elementReference>Claimtypevalue</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <name>AccountId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountrecord</assignToReference>
            <name>accountrecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Claim_Type_Without_Conveyance_Label</name>
        <label>Claim Type Without Conveyance Label</label>
        <locationX>1076</locationX>
        <locationY>207</locationY>
        <flowName>Claim_Form_Without_Conveyance</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountrecord</name>
            <value>
                <elementReference>accountrecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <name>AccountId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountrecord</assignToReference>
            <name>accountrecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>accountrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Claimtypevalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newinstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
