force-app/main/default/flows/Community_Claim_Form_Master.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_fetch</name>
        <label>Contact fetch</label>
        <locationX>438</locationX>
        <locationY>32</locationY>
        <actionName>FlowRepeaterGetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fetch_Opportunity</targetReference>
        </connector>
        <inputParameters>
            <name>isFormTableData</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>Tax Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contactjsoninput</assignToReference>
            <name>jsonItems</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>datatablerecords</name>
        <label>datatablerecords</label>
        <locationX>788</locationX>
        <locationY>327</locationY>
        <actionName>FlowRepeaterGetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Part_B</targetReference>
        </connector>
        <inputParameters>
            <name>isFormTableData</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>Registration Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>accountrecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>DatatableParentId__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Test_Object__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>datatablejson</assignToReference>
            <name>jsonItems</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>datatablesave</name>
        <label>datatablesave</label>
        <locationX>732</locationX>
        <locationY>157</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>succesfull</targetReference>
        </connector>
        <inputParameters>
            <name>periodicFormField</name>
            <value>
                <stringValue>DatatableParentId__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormId</name>
            <value>
                <elementReference>accountrecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>datatablejson</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Fetch_Opportunity</name>
        <label>Fetch Opportunity</label>
        <locationX>553</locationX>
        <locationY>32</locationY>
        <actionName>FlowRepeaterGetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Tax_Information</targetReference>
        </connector>
        <inputParameters>
            <name>isFormTableData</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>Living Units</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>opportunityjsoninput</assignToReference>
            <name>jsonItems</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>save_contact</name>
        <label>save contact</label>
        <locationX>618</locationX>
        <locationY>393</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>datatablerecords</targetReference>
        </connector>
        <inputParameters>
            <name>periodicFormField</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormId</name>
            <value>
                <elementReference>accountrecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>contactjsoninput</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>save_opportunity</name>
        <label>save opportunity</label>
        <locationX>468</locationX>
        <locationY>394</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>save_contact</targetReference>
        </connector>
        <inputParameters>
            <name>periodicFormField</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormId</name>
            <value>
                <elementReference>accountrecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>opportunityjsoninput</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>insert_or_update</name>
        <label>insert or update</label>
        <locationX>274</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>update_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountrecord.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>account_save</targetReference>
            </connector>
            <label>Account Id Is Null</label>
        </rules>
    </decisions>
    <interviewLabel>Community Claim Form Master {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community Claim Form Master</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>account_save</name>
        <label>account save</label>
        <locationX>273</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Tax_Information</targetReference>
        </connector>
        <inputReference>accountrecord</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>update_account</name>
        <label>update account</label>
        <locationX>289</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Contact_fetch</targetReference>
        </connector>
        <inputReference>accountrecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Claim_Form</name>
        <label>Single-Family Application for Insurance Benefits</label>
        <locationX>136</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>insert_or_update</targetReference>
        </connector>
        <fields>
            <name>claimheader1</name>
            <extensionName>c:claimHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thirdColumnDescription</name>
                <value>
                    <stringValue>OMB Approval No. 2502-0611 (Exp. 4/30/2021)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProgressIndicator1</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Form 1,Form 1 - Continue,Form 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Form 1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>claimtype</name>
            <fieldText>&lt;label class=&quot;uiLabel-left form-element__label uiLabel&quot; data-aura-class=&quot;uiLabel&quot;&gt;
  &lt;span style=&quot;padding-left: 10px;&quot; class=&quot;slds-form-element__label slds-no-flex&quot;&gt;&lt;b&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;1. Claim Type&lt;/b&gt;    &lt;br&gt;&lt;/br&gt;&lt;span style=&quot;font-weight: normal;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!ClaimTypeValue}&lt;/span&gt;
  &lt;/span&gt;
   &lt;/label&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spacerforclaimtype</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fhacasenumber</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>2. FHA Case Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>accountrecord.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountrecord.Name</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>sectionactcode</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>3. Section of the Act Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>reasoncode</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>4. Default reason code (2 digits)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlength</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>endormentdate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>5. Endorsement date (from MIC)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateformpreparedui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>6. Date form prepared</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>onecolumnspace</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>originaldate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> 7 a. Due date of first payment to principal and interest Original</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>modifieddate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> 7 b. Due date of first payment to principal and interest Modified</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>duedateui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>8. Due date last complete installment paid</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateofpossionsion</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>9. Date of possession and acquisition of marketable title</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>datedeedui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>10. Date deed or assignment filed for record or date of closing or appraisal</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X11_Date_foreclosure_proceedings</name>
            <extensionName>c:lightningCheckboxGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>11. Date foreclosure proceedings</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;a.Instituted&quot;, &quot;value&quot;: &quot;Instituted&quot;},{&quot;label&quot;: &quot;b.Date of deed in lieu&quot;, &quot;value&quot;: &quot;Date of deed in lieu&quot;}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>holdingmortgageenumber</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>12. Holding mortgagee number (payee)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>servicingmortagageenumber</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>13. Servicing mortgagee number (10 digits)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9]*$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenPatternMismatch</name>
                <value>
                    <stringValue>Only Digits Allowed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlength</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mortgageereference</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>14. Mortgagee reference number (Maximum of 15 digits)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9]*$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlength</name>
                <value>
                    <stringValue>15</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenPatternMismatch</name>
                <value>
                    <stringValue>Only Digits Allowed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spaceafter14</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mortagageamtoriginal</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>15 a. Mortgage amount Original</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9]*$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenPatternMismatch</name>
                <value>
                    <stringValue>Only digits allow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mortagageamtmodified</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>15 b. Mortgage amount Modified</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenPatternMismatch</name>
                <value>
                    <stringValue>Only digits allow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9]*$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>holdingmorgagee</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>16. Holding mortgagee EIN (9 digits)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9]*$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenPatternMismatch</name>
                <value>
                    <stringValue>Only Digits allowed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlength</name>
                <value>
                    <stringValue>9</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>unpaidloanbalance</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>17. Unpaid loan balance as of date in block 8 (Item 11 if coinsurance)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenPatternMismatch</name>
                <value>
                    <stringValue>Only digits allow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9]*$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateoffirmui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>18. Date of firm commitment</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>expirationdateui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>19. Expiration date of extension to foreslose/assign</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateofnoticeui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>20. Date of notice/Extension to convey</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateofreleaseui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>21. Date of release of bankruptcy,if applicable</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ispropertyvacantradio</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;: &quot;Yes&quot;},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;: &quot;No&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>22. Is property vacant?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyId</name>
                <value>
                    <stringValue>ispv</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateoflocalhudui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>23. Date of local HUD office approval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>ispv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ispropertyconveyeddamaged</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>24. Is property conveyed damaged?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;: &quot;Yes&quot;},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;: &quot;No&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateoflocalhuduiui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>25.Date of: a. local HUD Office approval(pursuant ot 203.379(a)(1))</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateoflocalhudcertification</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>b. Certification (pursuant to 203.379(a)(2))</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>ispcd</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>typeofdamage</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>26. Type of Damage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[ {&quot;label&quot;: &quot;Tornado&quot;, &quot;value&quot;: &quot;Tornado&quot;}, {&quot;label&quot;: &quot;Boiler explosion(Condominium units only)&quot;, &quot;value&quot;: &quot;Boiler explosion&quot;}, {&quot;label&quot;: &quot;Fire&quot;, &quot;value&quot;: &quot;Fire&quot;}, {&quot;label&quot;: &quot;Damage(203.377)&quot;, &quot;value&quot;: &quot;Damage&quot;}, {&quot;label&quot;: &quot;Flood&quot;, &quot;value&quot;: &quot;Flood&quot;}, {&quot;label&quot;: &quot;Earthquake&quot;, &quot;value&quot;: &quot;Earthquake&quot;} ]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>recoveryofestimate</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>27. Recovery or estimate of damage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ismortagageesuccesful</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>28. Is mortgagee successful bidder?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;: &quot;Yes&quot;},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;: &quot;No&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>deficiencyjudgmentcode</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>29. Deficiency Judgment Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>authorizedbid</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>30. Authorized bid amount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mortagdateui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>31. Mortgagee reported curtailment date</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaxInformationILALite1</name>
            <extensionName>c:repeaterILALite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cardColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Tax Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Tax Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentField</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>contactjsoninput</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactjsoninput</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>propertyadd</name>
            <extensionName>c:inputAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>33. Mortgagor&#39;s or HECM Borrower&#39;s name, SSN and property address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldAPI</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependingFieldAPI</name>
                <value>
                    <stringValue>State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Test_Object__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>afterporeadd</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Borrowersname</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Borrower&#39;s name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SSN</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>SSN</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>textarea</name>
            <extensionName>c:lightningTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>34. Brief legal description of property</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>formatedrichtext</name>
            <extensionName>c:formattedRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>richtext</name>
                <value>
                    <stringValue>&lt;p&gt;&lt;hr&gt;Certification: The undersigned agrees that in the event of damage by fire (except as otherwise provided in section 203.379(b) of the HUD regulations; flood, earthquake, tornado, or boiler explosion, if applicable, the Secretary may deduct from the settlement to be made to the mortgagee an amount computed in accordance with the applicable HUD regulations. For conveyance claims, the undersigned further agrees: (1) that in the event the Secretary finds it necessary to reconvey the above described property to the mortgagee, because of the mortgagee&#39;s noncompliance with HUD regulations, the mortgagee shall reimburse the Secretary for any settlement made in debentures and/or cash and for all cash disbursements, including those for repairs and rehabilitation of the property, made by the Secretary; and (2) that if a mortgagee does not comply with HUD regulations, the mortgagee remains responsible for the property, and any loss or damage thereto, notwithstanding the filing of the deed to the Secretary for record, and such responsibility is retained by the mortgagee until HUD regulations have been fully complied with (203.379). For HECM claims, the undersigned hereby certifies under the penalty of perjury that the foregoing is true and correct: 1) the mortgage is prior to all mechanics&#39; and materialmen&#39;s liens filed of record, regardless of when shuch liens attach, and prior to all liens and encumbrances, or defects whic may arise except such liens or other matters as may have been approved by the Commissioner: 2) the amount stated in the instrument of assignment is actually due and owing under the mortgage: and 3) there are no offsets or counterclaims thereto and the mortgagee has a good right to assign.&lt;br&gt;&lt;/br&gt; &lt;b&gt;Warning:&lt;/b&gt; HUD will prosecute false claims and statements. Conviction may result in criminal and/or civil penalties. (18 U.S.C. 1001, 1010, 1012; 31 U.S.C. 3729, 3802) &lt;br&gt;&lt;/br&gt;&lt;b&gt;By signing below, the undersigned certifies upenalty of perjury that the statements and information contained hereon (face and reverse) are true and correct.&lt;/b&gt;&lt;hr&gt;&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mortgageeadd</name>
            <extensionName>c:inputAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>35. Name &amp; address of mortgagee (include Zip Code)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Test_Object__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependingFieldAPI</name>
                <value>
                    <stringValue>State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldAPI</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>aftermortagee</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nameofmortgagee</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name of mortgagee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>differnciatdetails</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mortgageeservicer</name>
            <extensionName>c:inputAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>36. Name &amp; address of Mortgagee&#39;s servicer (include Zip Code)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldAPI</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependingFieldAPI</name>
                <value>
                    <stringValue>State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Test_Object__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>afteraddress</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NameofMortgageesservicer</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name of Mortgagee&#39;s servicer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mortgageedatespace</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MortgageeDate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>37. Mortgagee Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MortgageeTitle</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mortgagee Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ServicerDate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>38. Servicer date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ServicerTitle</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Servicer Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spacescreen1</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>customfooter</name>
            <extensionName>c:CustomFooterV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Part_B</name>
        <label>Part B</label>
        <locationX>869</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>datatablesave</targetReference>
        </connector>
        <fields>
            <name>claimheader3</name>
            <extensionName>c:claimHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thirdColumnDescription</name>
                <value>
                    <stringValue>OMB Approval No. 2502-0611 (Exp. 4/30/2021)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProgressIndicator3</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Form 1,Form 1 - Continue,Form 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Form 2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>partbregistionform</name>
            <extensionName>c:formTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Conveyance claim</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Test_Object__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>datatablejson</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>datatablejson</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>succesfull</name>
        <label>succesfull</label>
        <locationX>788</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successfull</name>
            <fieldText>Saved: &lt;a href=&quot;https://incap-la-capsule-dev-ed.my.salesforce.com/{!accountrecord.Id}&quot; &gt;{!accountrecord.Name} &lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tax_Information</name>
        <label>Tax Information</label>
        <locationX>470</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>save_opportunity</targetReference>
        </connector>
        <fields>
            <name>claimheader2</name>
            <extensionName>c:claimHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thirdColumnDescription</name>
                <value>
                    <stringValue>OMB Approval No. 2502-0611 (Exp. 4/30/2021)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProgressIndicator2</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Form 1,Form 1 - Continue,Form 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Form 1 - Continue</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>livingunitsILALite</name>
            <extensionName>c:repeaterILALite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Living Units</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentField</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>opportunityjsoninput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Status of Living Units</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opportunityjsoninput</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ModifiedInterestRate</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>45. Modified Interest Rate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewMaturityDate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>46. New Maturity Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InterestRatepriortomodification</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>47. Interest Rate (prior to modification)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space1</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screentwofooter</name>
            <extensionName>c:CustomFooterV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Claim_Form</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>accountname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ClaimTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactjsoninput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datatablejson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityjsoninput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
