force-app/main/default/flows/Data_Flow_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>saveloss</name>
        <label>saveloss</label>
        <locationX>400</locationX>
        <locationY>252</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>display_data</targetReference>
        </connector>
        <inputParameters>
            <name>parentId</name>
            <value>
                <stringValue>00Q4P00000sldgO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormField</name>
            <value>
                <stringValue>Lead__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>jsonloss</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Data Flow Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Flow Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>date_input_field</name>
        <label>Date input field</label>
        <locationX>230</locationX>
        <locationY>131</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>saveloss</targetReference>
        </connector>
        <fields>
            <name>filecustom</name>
            <extensionName>c:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>0064P00000iXZaL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isContentTypeEnable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sobjectApiName</name>
                <value>
                    <stringValue>ContentVersion</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sobjectFieldApiName</name>
                <value>
                    <stringValue>Content_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableAdditionInformation</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spaceadded</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>texttest</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Text Box</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>emailtest</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>urltest</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>url</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>URL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>tel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>currency</name>
            <extensionName>c:lightningInputCurrency</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>numbertest</name>
            <extensionName>c:lightningInputNumber</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>datetest</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>datetimetest</name>
            <extensionName>c:uiInputDateTime</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkboxtest</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>checkbox</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Checkbox</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>testradiogroup</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Radio Group</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;: true},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;: false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueAsBoolean</name>
                <value>
                    <elementReference>booleanradio</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>booleanradio</assignToReference>
                <name>valueAsBoolean</name>
            </outputParameters>
        </fields>
        <fields>
            <name>stringvaludes</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[ {&quot;label&quot;: &quot;Master&quot;, &quot;value&quot;: &quot;Master&quot;},{&quot;label&quot;: &quot;01-Conveyance&quot;, &quot;value&quot;: &quot;01-Conveyance&quot;}, {&quot;label&quot;: &quot;02-Assignment&quot;, &quot;value&quot;: &quot;02-Assignment&quot;}, {&quot;label&quot;: &quot;03-Automatic Assignment&quot;, &quot;value&quot;: &quot;03-Automatic Assignment&quot;}, {&quot;label&quot;: &quot;04-Coinsurance&quot;, &quot;value&quot;: &quot;04-Coinsurance&quot;}, {&quot;label&quot;: &quot;05-Supplemental&quot;, &quot;value&quot;: &quot;05-Supplemental&quot;}, {&quot;label&quot;: &quot;06-CWCOT&quot;, &quot;value&quot;: &quot;06-CWCOT&quot;}, {&quot;label&quot;: &quot;07-PFS&quot;, &quot;value&quot;: &quot;07-PFS&quot;}, {&quot;label&quot;: &quot;Other&quot;, &quot;value&quot;: &quot;Other&quot;}, {&quot;label&quot;: &quot;31-Spec. Forb.&quot;, &quot;value&quot;: &quot;31-Spec. Forb.&quot;}, {&quot;label&quot;: &quot;32-Modification&quot;, &quot;value&quot;: &quot;32-Modification&quot;}, {&quot;label&quot;: &quot;33-Partial Claim&quot;, &quot;value&quot;: &quot;33-Partial Claim&quot;} ]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>radiostring</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>radiostring</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>testnume</name>
            <extensionName>c:lightningInputNumber</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Test Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>accountrecord.FinServ__Age__pc</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountrecord.NumberOfEmployees</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dateinput</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordvariable.Birthdate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>currencytesting</name>
            <extensionName>c:lightningInputCurrency</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordvariable.FinServ__AnnualIncome__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordvariable.FinServ__AnnualIncome__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>fasdf</name>
            <extensionName>c:dynamicDependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>controllingFieldAPI</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependingFieldAPI</name>
                <value>
                    <stringValue>State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Test_Object__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentLabel</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controlfieldvalue</name>
                <value>
                    <stringValue>USA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disablecontrollingfield</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hiddencontrollingfield</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>city</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>streettextarea</name>
            <extensionName>c:lightningTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Street</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>zipcode</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ZipCode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>coverage</name>
            <extensionName>c:repeaterILALite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Coverage</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>loss</name>
            <extensionName>c:repeaterILALite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Loss</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>jsonloss</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>00Q4P00000sldgO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentField</name>
                <value>
                    <stringValue>Lead__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>OpportunityAsset__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>jsonloss</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>signaturecapture</name>
            <extensionName>c:signatureCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <elementReference>attatchmentrecord.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentType</name>
                <value>
                    <elementReference>attatchmentrecord.ContentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>parentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>body</name>
                <value>
                    <elementReference>attatchmentrecord.Body</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>footer</name>
            <extensionName>c:CustomFooterV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>display_data</name>
        <label>display data</label>
        <locationX>569</locationX>
        <locationY>131</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showdata</name>
            <fieldText>&lt;p&gt;{!radiostring} &amp;lt;---&amp;gt;{!booleanradio} ...&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!radiogroup}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;empl: {!accountrecord.NumberOfEmployees}&lt;/p&gt;&lt;p&gt;contactbirdthd:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;=====&lt;/p&gt;&lt;p&gt;currency: {!recordvariable.FinServ__AnnualIncome__c}&lt;/p&gt;&lt;p&gt;=======&lt;/p&gt;&lt;p&gt;{!parentId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>date_input_field</startElementReference>
    <status>Draft</status>
    <variables>
        <name>accountrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>attatchmentrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>booleanradio</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>jsonloss</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a0o4P00000FVpqH</stringValue>
        </value>
    </variables>
    <variables>
        <name>radiogroup</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>radiostring</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
