force-app/main/default/flows/Data_Table_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Data_Table_Detail</name>
        <label>Fetch Data Table Detail</label>
        <locationX>148</locationX>
        <locationY>232</locationY>
        <actionName>FlowRepeaterGetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Data_Table_Form</targetReference>
        </connector>
        <inputParameters>
            <name>isFormTableData</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>Registration Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Test_Object__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>datatablejson</assignToReference>
            <name>jsonItems</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Save_Data_Table</name>
        <label>Save Data Table</label>
        <locationX>440</locationX>
        <locationY>124</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Data_table_message</targetReference>
        </connector>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>datatablejson</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Data Table Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Table Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Data_Table_Form</name>
        <label>Data Table Form</label>
        <locationX>243</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Data_Table</targetReference>
        </connector>
        <fields>
            <name>FHAConnectionText</name>
            <fieldText>&lt;table&gt;&lt;tr&gt;&lt;td width=&quot;100%&quot;&gt;
&lt;h1 style=&quot;font-size: xx-large;&quot;&gt;&lt;b&gt;FHA Connection&lt;b&gt;&lt;/h1&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;&lt;br&gt;&lt;/br&gt;&lt;h2 style=&quot;font-size: large;&quot;&gt;Single Family Application for Insurance Benefits&lt;/h2&gt;&lt;/br&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;
&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DataTableForm</name>
            <extensionName>c:formTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Registration Form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>datatablejson</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Test_Object__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>datatablejson</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Data_table_message</name>
        <label>Data table message</label>
        <locationX>464</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>datatableapi</name>
            <fieldText>Data Table Saved Successfully!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Fetch_Data_Table_Detail</startElementReference>
    <status>Draft</status>
    <variables>
        <name>datatablejson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
