force-app/main/default/flows/Demo_Community_Claim_Form_Conveyance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_fetch</name>
        <label>Contact fetch</label>
        <locationX>438</locationX>
        <locationY>32</locationY>
        <actionName>FlowRepeaterGetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fetch_Opportunity</targetReference>
        </connector>
        <inputParameters>
            <name>isFormTableData</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>Tax Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contactjsoninput</assignToReference>
            <name>jsonItems</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>datatablerecords</name>
        <label>datatablerecords</label>
        <locationX>834</locationX>
        <locationY>335</locationY>
        <actionName>FlowRepeaterGetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Part_B</targetReference>
        </connector>
        <inputParameters>
            <name>isFormTableData</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metaDataColumnName</name>
            <value>
                <stringValue>Metadata_Record_Developer_Name__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>Registration Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>HUDClaimform.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>HUD_Claim_form__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Test_Object__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>datatablejson</assignToReference>
            <name>jsonItems</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>datatablesave</name>
        <label>datatablesave</label>
        <locationX>732</locationX>
        <locationY>157</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>succesfull</targetReference>
        </connector>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>HUDClaimform.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormField</name>
            <value>
                <stringValue>HUD_Claim_form__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormId</name>
            <value>
                <elementReference>HUDClaimform.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>datatablejson</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Fetch_Opportunity</name>
        <label>Fetch Opportunity</label>
        <locationX>553</locationX>
        <locationY>32</locationY>
        <actionName>FlowRepeaterGetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Tax_Information</targetReference>
        </connector>
        <inputParameters>
            <name>isFormTableData</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>Living Units</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>opportunityjsoninput</assignToReference>
            <name>jsonItems</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>save_contact</name>
        <label>save contact</label>
        <locationX>617</locationX>
        <locationY>437</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>datatablerecords</targetReference>
        </connector>
        <inputParameters>
            <name>periodicFormField</name>
            <value>
                <stringValue>HUD_Claim_form__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormId</name>
            <value>
                <elementReference>HUDClaimform.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>contactjsoninput</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>save_opportunity</name>
        <label>save opportunity</label>
        <locationX>742</locationX>
        <locationY>487</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>periodicFormField</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormId</name>
            <value>
                <elementReference>accountrecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>opportunityjsoninput</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>insert_or_update</name>
        <label>insert or update</label>
        <locationX>274</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Update_HUD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountrecord.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Save_HUD</targetReference>
            </connector>
            <label>Account Id Is Null</label>
        </rules>
    </decisions>
    <interviewLabel>Demo Community Claim Form Conveyance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Community Claim Form Conveyance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_HUD</name>
        <label>Save HUD</label>
        <locationX>248</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>GetHUDRecord</targetReference>
        </connector>
        <inputReference>HUDClaimform</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetHUDRecord</name>
        <label>GetHUDRecord</label>
        <locationX>437</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tax_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HUDClaimform.Id</elementReference>
            </value>
        </filters>
        <object>HUD_Claim_form__c</object>
        <outputReference>HUDClaimform</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Modified_Interest_Rate__c</queriedFields>
        <queriedFields>New_Maturity_Date__c</queriedFields>
        <queriedFields>Interest_Rate_prior_to_modification__c</queriedFields>
        <queriedFields>Living_Unit__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_HUD</name>
        <label>Update HUD</label>
        <locationX>289</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Contact_fetch</targetReference>
        </connector>
        <inputReference>HUDClaimform</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHUD</name>
        <label>Update HUD</label>
        <locationX>658</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>save_contact</targetReference>
        </connector>
        <inputReference>HUDClaimform</inputReference>
    </recordUpdates>
    <screens>
        <name>Claim_Form</name>
        <label>Single-Family Application for Insurance Benefits</label>
        <locationX>136</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>insert_or_update</targetReference>
        </connector>
        <fields>
            <name>claimheader1</name>
            <extensionName>c:claimHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thirdColumnDescription</name>
                <value>
                    <stringValue>OMB Approval No. 2502-0611 (Exp. 4/30/2021)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProgressIndicator1</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Form 1,Form 1 - Continue,Form 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Form 1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>claimtype</name>
            <fieldText>&lt;label class=&quot;uiLabel-left form-element__label uiLabel&quot; data-aura-class=&quot;uiLabel&quot;&gt;
  &lt;span style=&quot;padding-left: 10px;&quot; class=&quot;slds-form-element__label slds-no-flex&quot;&gt;&lt;b&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;1. Claim Type&lt;/b&gt;    &lt;br&gt;&lt;/br&gt;&lt;span style=&quot;font-weight: normal;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!ClaimTypeValue}&lt;/span&gt;
  &lt;/span&gt;
   &lt;/label&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spacerforclaimtype</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fhacasenumber</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>2. FHA Case Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.FHA_Case_Number__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenPatternMismatch</name>
                <value>
                    <stringValue>Please enter valid pattern XXX-XXXXXXX</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9a-zA-Z]{3}[-][0-9a-zA-Z]{7}$</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.FHA_Case_Number__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>sectionactcode</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>3. Section of the Act Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9a-zA-Z]{3}$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenPatternMismatch</name>
                <value>
                    <stringValue>Please enter valid pattern XXX</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Section_of_the_Act_Code__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Section_of_the_Act_Code__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>reasoncodeNEW</name>
            <extensionName>c:lightningInputNumber</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Default reason code (2 digits)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Default_reason_code_2_digits__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Default_reason_code_2_digits__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>endormentdate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>5. Endorsement date (from MIC)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Endorsement_date_from_MIC__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Endorsement_date_from_MIC__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dateformpreparedui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>6. Date form prepared</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Date_form_prepared__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Date_form_prepared__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>onecolumnspace</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>originaldate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> 7 a. Due date of first payment to principal and interest Original</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Due_date_of_first_payment__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Due_date_of_first_payment__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>modifieddate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> 7 b. Due date of first payment to principal and interest Modified</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Due_date_1st_payment_interest_Modified__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Due_date_1st_payment_interest_Modified__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>duedateui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>8. Due date last complete installment paid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Due_date_1st_payment_interest_Modified__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Due_date_1st_payment_interest_Modified__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dateofpossionsion</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>9. Date of possession and acquisition of marketable title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Date_of_possession_acquisition__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Date_of_possession_acquisition__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>datedeedui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>10. Date deed or assignment filed for record or date of closing or appraisal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Date_deed_or_assignment_filed_for_record__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Date_deed_or_assignment_filed_for_record__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>X11_Date_foreclosure_proceedings</name>
            <extensionName>c:lightningCheckboxGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>11. Date foreclosure proceedings</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;a.Instituted&quot;, &quot;value&quot;: &quot;Instituted&quot;},{&quot;label&quot;: &quot;b.Date of deed in lieu&quot;, &quot;value&quot;: &quot;Date of deed in lieu&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Date_foreclosure_proceedings__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Date_foreclosure_proceedings__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>holdingmortgageenumber</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>12. Holding mortgagee number (payee)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Holding_mortgagee_number_payee__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Holding_mortgagee_number_payee__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ServicingMortgageeNew</name>
            <extensionName>c:lightningInputNumber</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>13. Servicing mortgagee number (10 digits)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Servicing_mortgagee_number_10_digits__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Servicing_mortgagee_number_10_digits__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>MortgageeNumber</name>
            <extensionName>c:lightningInputNumber</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>14. Mortgagee reference number (Maximum of 15 digits)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Mortgagee_reference_number__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgagee_reference_number__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spaceafter14</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MAO</name>
            <extensionName>c:lightningInputCurrency</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Mortgage_amount_Original__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>14. Mortgage amount original</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgage_amount_Original__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>MAM</name>
            <extensionName>c:lightningInputCurrency</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>15. Mortgage amount modified</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Mortgage_amount_Modified__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgage_amount_Modified__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HME</name>
            <extensionName>c:lightningInputNumber</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>16. Holding mortgagee EIN (9 digits)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Holding_mortgagee_EIN_9_digits__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Holding_mortgagee_EIN_9_digits__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ULB</name>
            <extensionName>c:lightningInputCurrency</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>17. Unpaid loan balance as of date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Unpaid_loan_balance_as_of_date__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Unpaid_loan_balance_as_of_date__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dateoffirmui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>18. Date of firm commitment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Date_of_firm_commitment__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Date_of_firm_commitment__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>expirationdateui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>19. Expiration date of extension to foreslose/assign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Exp_date_of_extension_to_foreslose__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Exp_date_of_extension_to_foreslose__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dateofnoticeui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>20. Date of notice/Extension to convey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Date_of_notice_Extension_to_convey__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Date_of_notice_Extension_to_convey__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dateofreleaseui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>21. Date of release of bankruptcy,if applicable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Date_of_release_of_bankruptcy__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Date_of_release_of_bankruptcy__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ispropertyvacantradio</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;: true},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;: false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>22. Is property vacant?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyId</name>
                <value>
                    <stringValue>ispv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueAsBoolean</name>
                <value>
                    <elementReference>HUDClaimform.Is_property_vacant__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Is_property_vacant__c</assignToReference>
                <name>valueAsBoolean</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dateoflocalhudui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>23. Date of local HUD office approval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>ispv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Date_of_local_HUD_office_approval__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Date_of_local_HUD_office_approval__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ispropertyconveyeddamaged</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>24. Is property conveyed damaged?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;: true},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;: false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueAsBoolean</name>
                <value>
                    <elementReference>HUDClaimform.Is_property_conveyed_damaged__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Is_property_conveyed_damaged__c</assignToReference>
                <name>valueAsBoolean</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dateoflocalhuduiui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>25.Date of: a. local HUD Office approval(pursuant ot 203.379(a)(1))</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Date_of_local_HUD_office_approval__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Date_of_local_HUD_office_approval__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>typeofdamage</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>26. Type of Damage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[ {&quot;label&quot;: &quot;Tornado&quot;, &quot;value&quot;: &quot;Tornado&quot;}, {&quot;label&quot;: &quot;Boiler explosion(Condominium units only)&quot;, &quot;value&quot;: &quot;Boiler explosion&quot;}, {&quot;label&quot;: &quot;Fire&quot;, &quot;value&quot;: &quot;Fire&quot;}, {&quot;label&quot;: &quot;Damage(203.377)&quot;, &quot;value&quot;: &quot;Damage&quot;}, {&quot;label&quot;: &quot;Flood&quot;, &quot;value&quot;: &quot;Flood&quot;}, {&quot;label&quot;: &quot;Earthquake&quot;, &quot;value&quot;: &quot;Earthquake&quot;} ]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Type_of_Damage__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Type_of_Damage__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>certi</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>b. Certification (pursuant to 203.379(a)(2))</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.b_Certification__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.b_Certification__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>recoveryofestimate</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>27. Recovery or estimate of damage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Recovery_or_estimate_of_damage__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Recovery_or_estimate_of_damage__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ismortagageesuccesful</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>28. Is mortgagee successful bidder?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;: true},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;: false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueAsBoolean</name>
                <value>
                    <elementReference>HUDClaimform.Is_mortgagee_successful_bidder__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Is_mortgagee_successful_bidder__c</assignToReference>
                <name>valueAsBoolean</name>
            </outputParameters>
        </fields>
        <fields>
            <name>deficiencyjudgmentcode</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>29. Deficiency Judgment Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Deficiency_Judgment_Code__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Deficiency_Judgment_Code__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AMTBID</name>
            <extensionName>c:lightningInputCurrency</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>30. Authorized bid amount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Authorized_bid_amount__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Authorized_bid_amount__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>mortagdateui</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>31. Mortgagee reported curtailment date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Mortgagee_reported_curtailment_date__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgagee_reported_curtailment_date__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>TaxInformationILALite1</name>
            <extensionName>c:repeaterILALite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cardColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Tax Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Tax Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Tex_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>contactjsoninput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentField</name>
                <value>
                    <stringValue>HUD_Claim_form__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactjsoninput</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>constate</name>
            <extensionName>c:dynamicDependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>controlfieldvalue</name>
                <value>
                    <elementReference>HUDClaimform.Country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentLabel</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentfieldvalue</name>
                <value>
                    <elementReference>HUDClaimform.State__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldAPI</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>HUD_Claim_form__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Property Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependingFieldAPI</name>
                <value>
                    <stringValue>State__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Country__c</assignToReference>
                <name>controlfieldvalue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>HUDClaimform.State__c</assignToReference>
                <name>dependentfieldvalue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Propertystreet</name>
            <extensionName>c:lightningTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Street</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Street__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Street__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Propertycity</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.City__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>afterporeadd</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Borrowersname</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Borrower&#39;s name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Borrower_s_name__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Borrower_s_name__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SSN</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>SSN</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.SSN__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.SSN__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>textarea</name>
            <extensionName>c:lightningTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>34. Brief legal description of property</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Brief_legal_description_of_property__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Brief_legal_description_of_property__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>formatedrichtext</name>
            <extensionName>c:formattedRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>richtext</name>
                <value>
                    <stringValue>&lt;p&gt;&lt;hr&gt;Certification: The undersigned agrees that in the event of damage by fire (except as otherwise provided in section 203.379(b) of the HUD regulations; flood, earthquake, tornado, or boiler explosion, if applicable, the Secretary may deduct from the settlement to be made to the mortgagee an amount computed in accordance with the applicable HUD regulations. For conveyance claims, the undersigned further agrees: (1) that in the event the Secretary finds it necessary to reconvey the above described property to the mortgagee, because of the mortgagee&#39;s noncompliance with HUD regulations, the mortgagee shall reimburse the Secretary for any settlement made in debentures and/or cash and for all cash disbursements, including those for repairs and rehabilitation of the property, made by the Secretary; and (2) that if a mortgagee does not comply with HUD regulations, the mortgagee remains responsible for the property, and any loss or damage thereto, notwithstanding the filing of the deed to the Secretary for record, and such responsibility is retained by the mortgagee until HUD regulations have been fully complied with (203.379). For HECM claims, the undersigned hereby certifies under the penalty of perjury that the foregoing is true and correct: 1) the mortgage is prior to all mechanics&#39; and materialmen&#39;s liens filed of record, regardless of when shuch liens attach, and prior to all liens and encumbrances, or defects whic may arise except such liens or other matters as may have been approved by the Commissioner: 2) the amount stated in the instrument of assignment is actually due and owing under the mortgage: and 3) there are no offsets or counterclaims thereto and the mortgagee has a good right to assign.&lt;br&gt;&lt;/br&gt; &lt;b&gt;Warning:&lt;/b&gt; HUD will prosecute false claims and statements. Conviction may result in criminal and/or civil penalties. (18 U.S.C. 1001, 1010, 1012; 31 U.S.C. 3729, 3802) &lt;br&gt;&lt;/br&gt;&lt;b&gt;By signing below, the undersigned certifies upenalty of perjury that the statements and information contained hereon (face and reverse) are true and correct.&lt;/b&gt;&lt;hr&gt;&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mortgageeCon</name>
            <extensionName>c:dynamicDependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>controlfieldvalue</name>
                <value>
                    <elementReference>HUDClaimform.mortgagee_Country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentLabel</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentfieldvalue</name>
                <value>
                    <elementReference>HUDClaimform.mortgagee_State__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>HUD_Claim_form__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Mortgagee Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldAPI</name>
                <value>
                    <stringValue>mortgagee_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependingFieldAPI</name>
                <value>
                    <stringValue>mortgagee_State__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.mortgagee_Country__c</assignToReference>
                <name>controlfieldvalue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>HUDClaimform.mortgagee_State__c</assignToReference>
                <name>dependentfieldvalue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>mortgageeStreet</name>
            <extensionName>c:lightningTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Street</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.mortgagee_Street__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.mortgagee_Street__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>mortgageeCity</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.mortgagee_City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.mortgagee_City__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>mortgageeZip</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.mortgagee_zip_code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Zip Code</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.mortgagee_zip_code__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Nameofmortgagee</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name of mortgagee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Name_of_mortgagee__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Name_of_mortgagee__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>differnciatdetails</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>serviceradd</name>
            <extensionName>c:dynamicDependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>36. Name &amp; address of Mortgagee&#39;s servicer (include Zip Code)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ChildRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentLabel</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentfieldvalue</name>
                <value>
                    <elementReference>HUDClaimform.Mortgagee_s_servicer_state__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controlfieldvalue</name>
                <value>
                    <elementReference>HUDClaimform.Mortgagee_s_servicer_country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldAPI</name>
                <value>
                    <stringValue>Mortgagee_s_servicer_country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependingFieldAPI</name>
                <value>
                    <stringValue>Mortgagee_s_servicer_state__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>HUD_Claim_form__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgagee_s_servicer_country__c</assignToReference>
                <name>controlfieldvalue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgagee_s_servicer_state__c</assignToReference>
                <name>dependentfieldvalue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>servicerStreet</name>
            <extensionName>c:lightningTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Street</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Mortgagee_s_servicer_street__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgagee_s_servicer_street__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>servicercity</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Mortgagee_s_servicer_city__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgagee_s_servicer_city__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>servicerzip</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Mortgagee_s_servicer_zip__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Zip Code</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgagee_s_servicer_zip__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>afteraddress</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NameofMortgageesservicer</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name of Mortgagee&#39;s servicer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Name_of_Mortgagee_s_servicer__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Name_of_Mortgagee_s_servicer__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>mortgageedatespace</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MortgageeDate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>37. Mortgagee Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Mortgagee_Date__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgagee_Date__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>MortgageeTitle</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mortgagee Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Mortgagee_Title__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Mortgagee_Title__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ServicerDate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>38. Servicer date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.Servicer_date__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Servicer_date__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ServicerTitle</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Servicer Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Servicer_Title__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Servicer_Title__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spacescreen1</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>customfooter</name>
            <extensionName>c:CustomFooterV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Part_B</name>
        <label>Part B</label>
        <locationX>869</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>datatablesave</targetReference>
        </connector>
        <fields>
            <name>claimheader3</name>
            <extensionName>c:claimHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thirdColumnDescription</name>
                <value>
                    <stringValue>OMB Approval No. 2502-0611 (Exp. 4/30/2021)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProgressIndicator3</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Form 1,Form 1 - Continue,Form 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Form 2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>partbregistionform</name>
            <extensionName>c:formTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Conveyance claim</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Test_Object__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>datatablejson</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>metadataRecordDeveloperName</name>
                <value>
                    <stringValue>Metadata_Record_Developer_Name__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>datatablejson</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>succesfull</name>
        <label>succesfull</label>
        <locationX>788</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successfull</name>
            <fieldText>Saved: &lt;a href=&quot;https://incap-fin-trial-dev-ed--c.visualforce.com/{!accountrecord.Id}&quot; &gt;{!accountrecord.Name} &lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tax_Information</name>
        <label>Tax Information</label>
        <locationX>566</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHUD</targetReference>
        </connector>
        <fields>
            <name>claimheader2</name>
            <extensionName>c:claimHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thirdColumnDescription</name>
                <value>
                    <stringValue>OMB Approval No. 2502-0611 (Exp. 4/30/2021)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProgressIndicator2</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Form 1,Form 1 - Continue,Form 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Form 1 - Continue</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>livingunitsILALite</name>
            <extensionName>c:repeaterILALite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Living Units</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>HUDClaimform.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentField</name>
                <value>
                    <stringValue>Living_Unit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Living_Unit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>opportunityjsoninput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Status of Living Units</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opportunityjsoninput</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Modinterest</name>
            <extensionName>c:lightningInputNumber</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>45. Modified Interest Rate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Modified_Interest_Rate__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Modified_Interest_Rate__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>NewMaturityDate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>46. New Maturity Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>HUDClaimform.New_Maturity_Date__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.New_Maturity_Date__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>InterestRatepriortomodificationnew</name>
            <extensionName>c:lightningInputNumber</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>47. Interest Rate (prior to modification)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>HUDClaimform.Interest_Rate_prior_to_modification__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HUDClaimform.Interest_Rate_prior_to_modification__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>space1</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screentwofooter</name>
            <extensionName>c:CustomFooterV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Claim_Form</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>accountname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ClaimTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactjsoninput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datatablejson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HUDClaimform</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HUD_Claim_form__c</objectType>
    </variables>
    <variables>
        <name>opportunityjsoninput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
