force-app/main/default/flows/ILA_Lite_Repeater_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Reocords</name>
        <label>Fetch Reocords</label>
        <locationX>72</locationX>
        <locationY>247</locationY>
        <actionName>FlowRepeaterGetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ILA_Lite_Repeater_Save</targetReference>
        </connector>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>Doctor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contactjson</assignToReference>
            <name>jsonItems</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Save_Repeater</name>
        <label>Save Repeater</label>
        <locationX>286</locationX>
        <locationY>249</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Message_Contact</targetReference>
        </connector>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>contactjson</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>ILA Lite Repeater Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ILA Lite Repeater Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ILA_Lite_Repeater_Save</name>
        <label>ILA Lite Repeater Save</label>
        <locationX>174</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Repeater</targetReference>
        </connector>
        <fields>
            <name>newrepeaterilalite</name>
            <extensionName>c:repeaterILALite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Doctor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>contactjson</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactjson</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Contact</name>
        <label>Success Message Contact</label>
        <locationX>337</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successmsgcontact</name>
            <fieldText>Successfully Saved: {!contactjson}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Fetch_Reocords</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0011U00000MSIm6</stringValue>
        </value>
    </variables>
    <variables>
        <name>contactjson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactrecordjsonresult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
