force-app/main/default/flows/List_Of_Buildings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_List_Of_Buidings</name>
        <label>Save List Of Buidings</label>
        <locationX>101</locationX>
        <locationY>205</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity_Task</targetReference>
        </connector>
        <inputParameters>
            <name>periodicFormField</name>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>Building</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>opportunityassetsjson</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Task_Exist</name>
        <label>Task Exist</label>
        <locationX>267</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Get_Underwrite_Role_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Task_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskrecord</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Task</targetReference>
            </connector>
            <label>Is Task Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Under_Writer_Exist</name>
        <label>Under Writer Exist</label>
        <locationX>644</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>showmessagevalue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Under_Writer_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityUnderwriterTeamMemberRecord</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>New_Task</targetReference>
            </connector>
            <label>Is Under Writer Exist</label>
        </rules>
    </decisions>
    <interviewLabel>List Of Buildings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>List Of Buildings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>690</locationX>
        <locationY>403</locationY>
        <connector>
            <targetReference>showmessagevalue</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>opportunityUnderwriterTeamMemberRecord.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Underwrite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Task</name>
        <label>Get Opportunity Task</label>
        <locationX>83</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Exist</targetReference>
        </connector>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Get list of &quot;Buildings</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>taskrecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Underwrite_Role_Id</name>
        <label>Get Underwrite Role Id</label>
        <locationX>510</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Under_Writer_Exist</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NB Underwriter</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>opportunityUnderwriterTeamMemberRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Task</name>
        <label>Update Existing Task</label>
        <locationX>448</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>Get_Underwrite_Role_Id</targetReference>
        </connector>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Get list of &quot;Buildings</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>List_Of_Buildings</name>
        <label>Building</label>
        <locationX>196</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_List_Of_Buidings</targetReference>
        </connector>
        <fields>
            <name>description</name>
            <fieldText>&lt;p&gt;Please provide all buildings that would fall under this insurance:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>listofbuilding</name>
            <extensionName>c:repeaterILALite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Building</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>List Of Buildings</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>OpportunityAsset__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentField</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>opportunityassetsjson</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opportunityassetsjson</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>parentId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showmessagevalue</name>
        <label>Show Message</label>
        <locationX>836</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showmessage</name>
            <fieldText>&lt;p&gt;Thank you for adding buildings.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>List_Of_Buildings</startElementReference>
    <status>Active</status>
    <variables>
        <name>opportunityassetsjson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityUnderwriterTeamMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>underwriteUserRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserRole</objectType>
    </variables>
    <variables>
        <name>userUnderwriteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
