force-app/main/default/flows/LTC_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SaveDoctorVisit</name>
        <label>SaveDoctorVisit</label>
        <locationX>783</locationX>
        <locationY>230</locationY>
        <actionName>FlowRepeaterSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Complete_Sign</targetReference>
        </connector>
        <inputParameters>
            <name>periodicFormField</name>
            <value>
                <stringValue>AssociatedCase__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicFormId</name>
            <value>
                <elementReference>CaseVariable.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonSaveMap</name>
            <value>
                <elementReference>JsonDoctorVisit</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assigned_Values</name>
        <label>Assigned Values</label>
        <locationX>119</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>CaseClaimDetails.Date_Care_Ended__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseClaimDetails.Date_Care_Started__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseClaimDetails.Reason_for_starting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseClaimDetails.Other_reason_for_starting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseClaimDetails.Related_ADLs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseClaimDetails.Date_ADL_Started__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseClaimDetails.Date_ADL_Ended__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseClaimDetails.Policyholder_Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Is_policyholder_primary_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_Street_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_State_USA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Primary_Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Primary_Contact_Las_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Primary_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Primary_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVariable.Policyholder_Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>dateadlendedstrformula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!dateadlendedstr})</expression>
    </formulas>
    <formulas>
        <name>dateadlstartedstrformula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!dateadlstartedstr})</expression>
    </formulas>
    <formulas>
        <name>datecareendedformula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!datecareendedstr})</expression>
    </formulas>
    <formulas>
        <name>datecarestartedformula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!datecarestartedstr})</expression>
    </formulas>
    <formulas>
        <name>policyholderdateofbirthformula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!policyholderdateofbirthstr})</expression>
    </formulas>
    <interviewLabel>LTC Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LTC Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SaveClaim</name>
        <label>SaveClaim</label>
        <locationX>669</locationX>
        <locationY>119</locationY>
        <assignRecordIdToReference>CaseVariable.Id</assignRecordIdToReference>
        <connector>
            <targetReference>SaveDoctorVisit</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_ADL_Ended__c</field>
            <value>
                <elementReference>CaseClaimDetails.Date_ADL_Ended__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_ADL_Started__c</field>
            <value>
                <elementReference>CaseClaimDetails.Date_ADL_Started__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Care_Ended__c</field>
            <value>
                <elementReference>CaseClaimDetails.Date_Care_Ended__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Care_Started__c</field>
            <value>
                <elementReference>CaseClaimDetails.Date_Care_Started__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>CaseVariable.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_policyholder_primary_contact__c</field>
            <value>
                <elementReference>CaseVariable.Is_policyholder_primary_contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>CaseVariable.Marital_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_reason_for_starting__c</field>
            <value>
                <elementReference>CaseClaimDetails.Other_reason_for_starting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policyholder_City__c</field>
            <value>
                <elementReference>CaseVariable.Policyholder_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policyholder_Country__c</field>
            <value>
                <elementReference>CaseVariable.Policyholder_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policyholder_Date_of_Birth__c</field>
            <value>
                <elementReference>CaseVariable.Policyholder_Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policyholder_Email__c</field>
            <value>
                <elementReference>CaseVariable.Policyholder_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policyholder_First_Name__c</field>
            <value>
                <elementReference>CaseVariable.Policyholder_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policyholder_Last_Name__c</field>
            <value>
                <elementReference>CaseVariable.Policyholder_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policyholder_Postal_Code__c</field>
            <value>
                <elementReference>CaseVariable.Policyholder_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policyholder_State_USA__c</field>
            <value>
                <elementReference>CaseVariable.Policyholder_State_USA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policyholder_Street_Address__c</field>
            <value>
                <elementReference>CaseVariable.Policyholder_Street_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_Email__c</field>
            <value>
                <elementReference>CaseVariable.Primary_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_First_Name__c</field>
            <value>
                <elementReference>CaseVariable.Primary_Contact_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_Las_Name__c</field>
            <value>
                <elementReference>CaseVariable.Primary_Contact_Las_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_Phone__c</field>
            <value>
                <elementReference>CaseVariable.Primary_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_starting__c</field>
            <value>
                <elementReference>CaseClaimDetails.Reason_for_starting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_ADLs__c</field>
            <value>
                <elementReference>CaseClaimDetails.Related_ADLs__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Care_Providers</name>
        <label>Care Providers</label>
        <locationX>516</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SaveClaim</targetReference>
        </connector>
        <fields>
            <name>screenthreediplay</name>
            <fieldText>&lt;div data-aura-rendered-by=&quot;1714:0&quot; class=&quot;siteforceSldsOneColLayout siteforceContentArea&quot; data-aura-class=&quot;siteforceSldsOneColLayout siteforceContentArea&quot;&gt;&lt;div class=&quot;slds-col--padded comm-content-header comm-layout-column&quot; data-aura-rendered-by=&quot;1715:0&quot;&gt;&lt;div data-region-name=&quot;header&quot; data-item-id=&quot;ccbd2b1d-09f5-4f74-9ef1-7f10fe2dc096&quot; data-aura-rendered-by=&quot;1711:0&quot;&gt;&lt;div class=&quot;ui-widget&quot; data-item-id=&quot;f538878c-e567-46f5-bd11-c92932cbec6b&quot; data-priority=&quot;&quot; data-aura-rendered-by=&quot;1708:0&quot;&gt;&lt;div class=&quot;slds-p-around_x-large&quot; style=&quot;background-color:rgb(0, 95, 178);font-size: 25px;color: #ffffff&quot; data-aura-rendered-by=&quot;1704:0&quot;&gt;&lt;h1 data-aura-rendered-by=&quot;1748:0&quot;&gt;Claim Initiation Page&lt;/h1&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>progressindicator3</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Contact Info,Claim Detail,Care Providers,Complete &amp; Sign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Care Providers</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>careproviderhead</name>
            <fieldText>&lt;div data-aura-rendered-by=&quot;3:1092;a&quot;&gt;&lt;div class=&quot;slds-p-around_small slds-text-heading_medium&quot; data-aura-rendered-by=&quot;4:1092;a&quot;&gt;&lt;h1 data-aura-rendered-by=&quot;5:1092;a&quot;&gt;Have you seen any doctors?&lt;/h1&gt;&lt;/div&gt;&lt;div class=&quot;slds-p-bottom_small slds-p-horizontal_small slds-text-heading_medium&quot; data-aura-rendered-by=&quot;7:1092;a&quot;&gt;&lt;p data-aura-rendered-by=&quot;8:1092;a&quot;&gt;Please provide a complete account of all doctor&#39;s visits for the duration of the claim period.&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>doctorvisit</name>
            <extensionName>c:repeaterILALite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cardDescription</name>
                <value>
                    <stringValue>Please complete the required fields.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>New Doctor&#39;s Visit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Doctor Visit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Case_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>JsonDoctorVisit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentField</name>
                <value>
                    <stringValue>AssociatedCase__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>JsonDoctorVisit</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Claim_Detail</name>
        <label>Claim Detail</label>
        <locationX>340</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Care_Providers</targetReference>
        </connector>
        <fields>
            <name>screentwodisplay</name>
            <fieldText>&lt;div data-aura-rendered-by=&quot;1714:0&quot; class=&quot;siteforceSldsOneColLayout siteforceContentArea&quot; data-aura-class=&quot;siteforceSldsOneColLayout siteforceContentArea&quot;&gt;&lt;div class=&quot;slds-col--padded comm-content-header comm-layout-column&quot; data-aura-rendered-by=&quot;1715:0&quot;&gt;&lt;div data-region-name=&quot;header&quot; data-item-id=&quot;ccbd2b1d-09f5-4f74-9ef1-7f10fe2dc096&quot; data-aura-rendered-by=&quot;1711:0&quot;&gt;&lt;div class=&quot;ui-widget&quot; data-item-id=&quot;f538878c-e567-46f5-bd11-c92932cbec6b&quot; data-priority=&quot;&quot; data-aura-rendered-by=&quot;1708:0&quot;&gt;&lt;div class=&quot;slds-p-around_x-large&quot; style=&quot;background-color:rgb(0, 95, 178);font-size: 25px;color: #ffffff&quot; data-aura-rendered-by=&quot;1704:0&quot;&gt;&lt;h1 data-aura-rendered-by=&quot;1748:0&quot;&gt;Claim Initiation Page&lt;/h1&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>progressindicator2</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Contact Info,Claim Detail,Care Providers,Complete &amp; Sign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Claim Detail</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reasonforstartingvalue</name>
            <extensionName>c:lightningCheckboxGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reason for starting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Acute event just occurred&quot;, &quot;value&quot;: &quot;Acute event just occurred&quot;}, {&quot;label&quot;: &quot;Currently receiving care&quot;, &quot;value&quot;: &quot;Currently receiving care&quot;}, {&quot;label&quot;: &quot;Received care previously&quot;, &quot;value&quot;: &quot;Received care previously&quot;}, {&quot;label&quot;: &quot;Realized we were eligible&quot;, &quot;value&quot;: &quot;Realized we were eligible&quot;}, {&quot;label&quot;: &quot;Other&quot;, &quot;value&quot;: &quot;Other&quot;} ]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyId</name>
                <value>
                    <stringValue>checkboxreasonid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseClaimDetails.Reason_for_starting__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Picklist_Reason_for_starting__c</assignToReference>
                <name>fieldBinding</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseClaimDetails.Reason_for_starting__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>hiddenfield</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Other reason for starting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRender</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>checkboxreasonid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnValue</name>
                <value>
                    <stringValue>Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseClaimDetails.Other_reason_for_starting__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseClaimDetails.Other_reason_for_starting__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>relatedadls</name>
            <extensionName>c:lightningCheckboxGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[ {&quot;label&quot;: &quot;Dressing&quot;, &quot;value&quot;: &quot;Dressing&quot;}, {&quot;label&quot;: &quot;Eating&quot;, &quot;value&quot;: &quot;Eating&quot;}, {&quot;label&quot;: &quot;Mobility&quot;, &quot;value&quot;: &quot;Mobility&quot;}, {&quot;label&quot;: &quot;Toileting&quot;, &quot;value&quot;: &quot;Toileting&quot;}, {&quot;label&quot;: &quot;Bathing&quot;, &quot;value&quot;: &quot;Bathing&quot;}, {&quot;label&quot;: &quot;Continence&quot;, &quot;value&quot;: &quot;Continence&quot;} ]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related ADLs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseClaimDetails.Related_ADLs__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseClaimDetails.Related_ADLs__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>datecarestarted</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Date Care Started</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>datecarestartedstr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>CaseClaimDetails.Date_Care_Started__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>datecarestartedstr</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseClaimDetails.Date_Care_Started__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>datecareended</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Date Care Ended</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>datecareendedstr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>CaseClaimDetails.Date_Care_Ended__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>datecareendedstr</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseClaimDetails.Date_Care_Ended__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dateadlstarted</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Date ADL Started</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>dateadlstartedstr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>CaseClaimDetails.Date_ADL_Started__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>dateadlstartedstr</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseClaimDetails.Date_ADL_Started__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DateADLEnded</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Date ADL Ended</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>MM/DD/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>dateadlendedstr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>CaseClaimDetails.Date_ADL_Ended__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>dateadlendedstr</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseClaimDetails.Date_ADL_Ended__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete_Sign</name>
        <label>Complete &amp; Sign</label>
        <locationX>693</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screenfourdisplay</name>
            <fieldText>&lt;div data-aura-rendered-by=&quot;1714:0&quot; class=&quot;siteforceSldsOneColLayout siteforceContentArea&quot; data-aura-class=&quot;siteforceSldsOneColLayout siteforceContentArea&quot;&gt;&lt;div class=&quot;slds-col--padded comm-content-header comm-layout-column&quot; data-aura-rendered-by=&quot;1715:0&quot;&gt;&lt;div data-region-name=&quot;header&quot; data-item-id=&quot;ccbd2b1d-09f5-4f74-9ef1-7f10fe2dc096&quot; data-aura-rendered-by=&quot;1711:0&quot;&gt;&lt;div class=&quot;ui-widget&quot; data-item-id=&quot;f538878c-e567-46f5-bd11-c92932cbec6b&quot; data-priority=&quot;&quot; data-aura-rendered-by=&quot;1708:0&quot;&gt;&lt;div class=&quot;slds-p-around_x-large&quot; style=&quot;background-color:rgb(0, 95, 178);font-size: 25px;color: #ffffff&quot; data-aura-rendered-by=&quot;1704:0&quot;&gt;&lt;h1 data-aura-rendered-by=&quot;1748:0&quot;&gt;Claim Initiation Page&lt;/h1&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>progressindicator4</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Contact Info,Claim Detail,Care Providers,Complete &amp; Sign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Complete &amp; Sign</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>completeandsign</name>
            <fieldText>Thank you for completing your Claim Initiation request. If you are finished making changes and ready to submit, you may click Finish to electronically sign.&lt;a href=&quot;https://incap-fin-trial-dev-ed.lightning.force.com/{!CaseVariable.Id}&quot;&gt;{!CaseVariable.Id}&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Contact Info</label>
        <locationX>216</locationX>
        <locationY>107</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claim_Detail</targetReference>
        </connector>
        <fields>
            <name>pageheader</name>
            <fieldText>&lt;div data-aura-rendered-by=&quot;1714:0&quot; class=&quot;siteforceSldsOneColLayout siteforceContentArea&quot; data-aura-class=&quot;siteforceSldsOneColLayout siteforceContentArea&quot;&gt;&lt;div class=&quot;slds-col--padded comm-content-header comm-layout-column&quot; data-aura-rendered-by=&quot;1715:0&quot;&gt;&lt;div data-region-name=&quot;header&quot; data-item-id=&quot;ccbd2b1d-09f5-4f74-9ef1-7f10fe2dc096&quot; data-aura-rendered-by=&quot;1711:0&quot;&gt;&lt;div class=&quot;ui-widget&quot; data-item-id=&quot;f538878c-e567-46f5-bd11-c92932cbec6b&quot; data-priority=&quot;&quot; data-aura-rendered-by=&quot;1708:0&quot;&gt;&lt;div class=&quot;slds-p-around_x-large&quot; style=&quot;background-color:rgb(0, 95, 178);font-size: 25px;color: #ffffff&quot; data-aura-rendered-by=&quot;1704:0&quot;&gt;&lt;h1 data-aura-rendered-by=&quot;1748:0&quot;&gt;Claim Initiation Page&lt;/h1&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>progressindicator</name>
            <extensionName>c:lightningProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Contact Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stagesStr</name>
                <value>
                    <stringValue>Contact Info,Claim Detail,Care Providers,Complete &amp; Sign</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PolicyHolderFirstName</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policy Holder First Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_First_Name__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_First_Name__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spaceLastName</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PolicyHolderLastName</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policy Holder Last Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_Last_Name__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_Last_Name__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SpaceCountry</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fasdf</name>
            <extensionName>c:dynamicDependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>controlfieldvalue</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_Country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldAPI</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentLabel</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentfieldvalue</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_State_USA__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependingFieldAPI</name>
                <value>
                    <stringValue>State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Test_Object__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_State_USA__c</assignToReference>
                <name>dependentfieldvalue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_Country__c</assignToReference>
                <name>controlfieldvalue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spacecity</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_City__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>beforestreetspace</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <extensionName>c:lightningTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Street</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_Street_Address__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_Street_Address__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>zipSpace</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>zipcode</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Zip Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_Postal_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_Postal_Code__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spaceafteraddress</name>
            <extensionName>c:ColumnSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PolicyholderPhone</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policyholder Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_Phone__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_Phone__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PolicyholderEmail</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policyholder Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_Email__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>gender</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Gender</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Male&quot;, &quot;value&quot;: &quot;Male&quot;},{&quot;label&quot;: &quot;Female&quot;, &quot;value&quot;: &quot;Female&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Gender__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Gender__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PolicyholderBirthdate</name>
            <extensionName>c:uiInputDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>format</name>
                <value>
                    <stringValue>DD/MM/YYYY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policyholder Date of Birth</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>policyholderdateofbirthstr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueDate</name>
                <value>
                    <elementReference>CaseVariable.Policyholder_Date_of_Birth__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>policyholderdateofbirthstr</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseVariable.Policyholder_Date_of_Birth__c</assignToReference>
                <name>valueDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>maritalstatus</name>
            <extensionName>c:dynamicPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Marital_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Marital_Status__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marital Status</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Marital_Status__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Ispolicyholderprimarycontact</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is policyholder primary contact?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>checkbox</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checked</name>
                <value>
                    <elementReference>CaseVariable.Is_policyholder_primary_contact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyId</name>
                <value>
                    <stringValue>primarycontact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Is_policyholder_primary_contact__c</assignToReference>
                <name>checked</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PrimaryContactFirstName</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact First Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Primary_Contact_First_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>primarycontact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnHideValue</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Primary_Contact_First_Name__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PrimaryContactLastName</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact Last Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Primary_Contact_Las_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>primarycontact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnHideValue</name>
                <value>
                    <stringValue>primarycontact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Primary_Contact_Las_Name__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PrimaryContactPhone</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Primary_Contact_Phone__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>primarycontact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnHideValue</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Primary_Contact_Phone__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PrimaryContactEmail</name>
            <extensionName>c:lightningInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseVariable.Primary_Contact_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnId</name>
                <value>
                    <stringValue>primarycontact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependsOnHideValue</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseVariable.Primary_Contact_Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>footer</name>
            <extensionName>c:CustomFooterV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Assigned_Values</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseClaimDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseToSave</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentstep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateadlendedstr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateadlstartedstr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datecareendedstr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datecarestartedstr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datevariable</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datevariabless</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datevariablestr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>datevariable</elementReference>
        </value>
    </variables>
    <variables>
        <name>JsonDoctorVisit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>policyholderdateofbirthstr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1234</stringValue>
        </value>
    </variables>
</Flow>
