force-app/main/default/flows/QC_Review_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>77</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.QC_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.QC_decision_is_pass__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.QC_Rating__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>349</locationX>
        <locationY>99</locationY>
        <defaultConnector>
            <targetReference>Just</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.QC_decision_is_pass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>Test</label>
        </rules>
    </decisions>
    <interviewLabel>QC Review Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QC Review Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>230</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pass</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QC_decision_is_pass__c</queriedFields>
        <queriedFields>QC_Comments__c</queriedFields>
        <queriedFields>QC_Rating__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>764</locationX>
        <locationY>148</locationY>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Just</name>
        <label>Just</label>
        <locationX>594</locationX>
        <locationY>171</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <fields>
            <name>Justification</name>
            <extensionName>c:lightningTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Justification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseRecord.QC_Comments__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.QC_Comments__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pass</name>
        <label>pass</label>
        <locationX>245</locationX>
        <locationY>84</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>PassFail</name>
            <extensionName>c:lightningRadioGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>QC Review</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionsJson</name>
                <value>
                    <stringValue>[{&quot;label&quot;: &quot;Pass&quot;, &quot;value&quot;: true},{&quot;label&quot;: &quot;Fail&quot;, &quot;value&quot;: false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHorizontalDisplay</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueAsBoolean</name>
                <value>
                    <elementReference>CaseRecord.QC_decision_is_pass__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.QC_decision_is_pass__c</assignToReference>
                <name>valueAsBoolean</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Rating</label>
        <locationX>603</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <fields>
            <name>QCRating</name>
            <extensionName>c:dynamicPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>QC_Rating__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rating</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseRecord.QC_Rating__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.QC_Rating__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AdditionalComment</name>
            <extensionName>c:lightningTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Additional Comment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CaseRecord.QC_Comments__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.QC_Comments__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Assignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PassFailResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
