force-app/main/default/flows/Request_Building_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>779</locationX>
        <locationY>103</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>showmessagevalue</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Dear Sir / Madam,   To process your insurance request for {!opprecord.Broker_Account__c}, we need your list on buildings to be insured.   Follow this link and click on &quot;Add Buildings&quot; to send us the information: https://incapsulateinsurance-developer-edition.na132.force.com/Partner/s/opportunity/{!opprecord.Id}/{!opprecord.Name}  Thank you in advance Your Travelers New Business team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>userrecord.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>rdewara@incapsulate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Travelers New Business Opportunity {!opprecord.Name} - Need additional information</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Lead_ID</name>
        <label>Check Lead ID</label>
        <locationX>383</locationX>
        <locationY>77</locationY>
        <defaultConnector>
            <targetReference>showmessagevalue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opprecord.Converted_LeadID__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Details</targetReference>
            </connector>
            <label>Is Lead Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_The_Stage</name>
        <label>Check The Stage</label>
        <locationX>183</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Show_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Stage_Propose_and_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opprecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Propose and Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Need_Building_Info</targetReference>
            </connector>
            <label>Is Stage Propose and Price</label>
        </rules>
    </decisions>
    <interviewLabel>Request Building Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Building Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>447</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Detail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opprecord.Converted_LeadID__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>leadrecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>50</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_The_Stage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opprecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Need_Buildings_Info__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Converted_LeadID__c</queriedFields>
        <queriedFields>Broker_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Detail</name>
        <label>Get User Detail</label>
        <locationX>674</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadrecord.CreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>userrecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Need_Building_Info</name>
        <label>Update Need Building Info</label>
        <locationX>187</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Check_Lead_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Propose and Price</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Need_Buildings_Info__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Show_Message</name>
        <label>Show Message</label>
        <locationX>383</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showmessageopp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(244, 245, 247);&quot;&gt;This action is only available when stage is &quot;Propose and Price&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showmessagevalue</name>
        <label>Show Message</label>
        <locationX>639</locationX>
        <locationY>31</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showmessage</name>
            <fieldText>&lt;p&gt;Thank you for requesting building detail for an opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Opportunity_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>leadrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>newVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>opportunityassetsjson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opprecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
