force-app/main/default/flows/Send_Rate_Indication_Envelope.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_DocuSign_Envelope</name>
        <label>Send DocuSign Envelope</label>
        <locationX>852</locationX>
        <locationY>284</locationY>
        <actionName>SendDocuSignAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Doc_Task_Completed</targetReference>
        </connector>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Traveler&#39;s Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>Recipient_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientName</name>
            <value>
                <elementReference>recipientUser.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>docuSignMergeIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Populate_DocuSign_Merge_IDs</name>
        <label>Populate DocuSign Merge IDs</label>
        <locationX>477</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>docuSignMergeIds</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docuSignMergeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docuSignMergeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recipientUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rate_Indication_Envelope</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Opportunity</name>
        <label>Has Opportunity?</label>
        <locationX>122</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>No_Record_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Quote_Notes</name>
        <label>Has Quote Notes?</label>
        <locationX>688</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Send_DocuSign_Envelope</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Quote_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Notes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Quote_Notes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Recipient_User</name>
        <label>Has Recipient User?</label>
        <locationX>358</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>No_Record_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Recipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_DocuSign_Merge_IDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Send Rate Indication Envelope {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Rate Indication Envelope</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>130</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>currentOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>PartnerAccountId</queriedFields>
        <queriedFields>ContactId__NotFound</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Insurer_Quote_Notes__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Quote_Notes</name>
        <label>Save Quote Notes</label>
        <locationX>774</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Send_DocuSign_Envelope</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Insurer_Quote_Notes__c</field>
            <value>
                <elementReference>Quote_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Mark task named &quot;Prepare Document and Send for Signature&quot; as complete</description>
        <name>Update_Doc_Task_Completed</name>
        <label>Update Doc Task Completed</label>
        <locationX>1002</locationX>
        <locationY>284</locationY>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prepare Document and Send for Signature</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>No_Record_Found</name>
        <label>No Record Found</label>
        <locationX>261</locationX>
        <locationY>411</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Label_Opp_Not_Found</name>
            <fieldText>&lt;p&gt;Unable to find Opportunity and/or Recipient User record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity ID: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Rate_Indication_Envelope</name>
        <label>Send Rate Indication Envelope</label>
        <locationX>582</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_Quote_Notes</targetReference>
        </connector>
        <fields>
            <name>Recipient_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recipientUser.Email</elementReference>
            </defaultValue>
            <fieldText>Recipient Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quote_Notes</name>
            <defaultValue>
                <stringValue>{!currentOpp.Insurer_Quote_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Quote Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>currentOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>docuSignMergeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Mark task named &quot;Prepare Document and Send for Signature&quot; as complete</description>
        <name>preDocSendSignTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Recipient User for DocuSign envelope</description>
        <name>recipientUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Incoming Record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
